@font-face {
  font-family: 'Gotham';
  src: url(../fonts/Gotham-Light.otf);
}
@font-face {
  font-family: 'Gotham Bold';
  src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: 'Gotham Book';
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: 'Gotham Medium';
  src: url(../fonts/Gotham-Medium.otf);
}
html {
  font-family: 'Gotham'!important;
}
html {
 /* font-family: 'Montserrat'; */
}
body {
overflow-x: hidden;
}

h1{
  font-family: 'Gotham', sans-serif;
  font-size:30px;
}
h3,p,a{font-family:'Gotham Book', sans-serif;}
img{max-width:100%;}
p.subheader{
  font-size:14px;
}
.home__header {
  height: 800px;
  width: auto;
  background: url(images/bg.png) no-repeat center;
}
.navbar,.home__header{
  /*background-size: 25%;
  background-position-y: 20%;
  background-image: url(../images/group-10@3x.png);*/
}
.home__header .navbar{
  background-image:none;
}
.home__header h1{
  color:black;
  font-size:35px;
  font-weight:100;
  letter-spacing:normal;
  margin-top:53px;
  font-family: 'Gotham Book',sans-serif;
}
.home__header p{
  color:black;
  font-size:15px;
  margin-bottom: 45px;
  margin-top: 30px;
}
.home__header p span{display:block;font-size:28px;}
.home__header img{
  max-width:300px;
  width:100%;
  padding:10px 0;
}
.logo {
  display: block;
  max-width: 100%;
  float: left;
  width: 113.6px;
  min-height: 32.4px;
}
.logo img{
  max-width:100%;
}
nav.navbar.navbar-expand-lg.static-top {
/*  background-color: #062339;*/
}
.navbar-nav li a{
  color: black;
}
.navbar-nav li ul{
  z-index:40;
  position:absolute;
  top:28px;
  width: 120%;
  max-width:130px;
  border-radius: 5px;
  margin-top:15px;
  padding:0;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.31);
  transform: rotateX(90deg);
  transform-origin:top center;
  transition:transform 0.5s;
}
.navbar-nav li ul:before{
  position:absolute;
  top: -5px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
}
.navbar-nav li ul li{
    float:none;
    list-style:none;
}
.navbar-nav li ul li a{
  display:block;
  padding:10px 15px;
  color:#5d5d5d;
}
.navbar-nav li ul li a:hover{
  text-decoration:none;
  color: #53b2e1;
}
.navbar-nav li:hover ul{
  transform: rotateX(0deg);
  transition:transform 0.5s;
}
ul.navbar-nav.ml-auto .nav-item:hover {
  font-weight: bold;
}

a[name="Docs"] {
  margin-right: 39px;
}

li.nav-item {
  font-size: 14px;
}
.section h1{
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.9px;
  color: #333333;
  font-family: 'Gotham Medium';
}
.section .container{
  margin-top: 0px;
}
#usp .container{
  border-top:2px solid #EFEFEF;
  padding-top:40px;
  padding-bottom:50px;
}
#usp h3{font-size:16px;font-weight:bold;padding-bottom:15px;}
#usp p{font-size:15px;color:#4a4a4a;}
#architecture{
  margin-top:30px;
  margin-bottom:30px;
}
#architecture h1{
  font-weight:500;
  margin-bottom:50px;
}
#architecture img{
  margin-bottom:50px;
}
#architecture h3{
  font-size:16px;
}
#architecture p{
  font-size:12px;
  padding:0 20px;
}
#cta{
  padding-top:100px;
  padding-bottom:115px;
  background:#ECF1F5;
}
#cta h2{font-size:32px;}
#cta p{color:#9c9ea0;}
#cta p.subtitle{color:#abb5bd;}
.cta-input{padding-top:50px;}
.cta-input .input-wrap{padding-bottom:30px;}
.cta-input input{border-top-left-radius: 4px;border-bottom-left-radius:4px;
  border: solid 1px #d3dee3;padding-left:25px;
  background-color: #ffffff;width:80%;height:54px;    vertical-align: middle;}
  .cta-input button{background:#0e2337;color:#fff;width:20%;height:54px;border-top-left-radius:0;border-bottom-left-radius:0;}
.containerCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  color:#9c9ea0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.containerCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius:5px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .checkmark {
  background-color: #0e2337;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
  left: 9px;
  top: 4px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#operation{
 padding:60px 0 120px;
}
#operation h1{
  font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: -0.8px;
    text-align: center;
    color: #0e2337;
    margin-bottom:60px;
}

#operation .doc-item{
  background:#fff;
  border-radius: 8px;
  border: solid 2px #fff;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  padding:30px 25px 0;
  height:180px;
  margin-bottom:25px;
}
#operation .doc-item .hover-title{display:none;}
#operation .doc-item:hover{
  border: solid 2px #4a90e2;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
}
#operation .doc-item.coming-wrap:hover{
  border: solid 2px #fff;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
}
#operation .doc-item:hover p.hover-title{display:block;}
#operation a:hover{text-decoration:none;}
#operation .doc-item .doc-img{

  width:64px;float:left;
}
#operation .doc-item .doc-img .doc-img-wrap{
  max-width:64px;
  background:#f0f4f7;
  border-radius:50%;
  padding:16px;
}
#operation .doc-item .doc-img img{
  width:32px;
}
#operation .doc-item .doc-text{
  float:left;width:calc(100% - 64px);text-align:left;padding-left:14px;
}
#operation .doc-item h3{font-size:16px;font-weight:normal;padding-bottom:18px;color:#4a4a4a;font-family:"Gotham Bold",sans-serif;}
#operation .doc-item p{color:#4a4a4a;font-size:15px;}
#operation .doc-item .doc-footer{
    position: absolute;
    right: 30px;
    bottom: 20px;}
#operation .doc-item .doc-footer p{
  color:#4a90e2;text-align:right;
  font-weight:300;font-size:12px;
}
#operation .doc-item .doc-footer p.coming{color:#4a4a4a;}
.main-footer{
  overflow:auto;
  padding-top:80px;
  width:100%;
  position:relative;
  z-index:31;
  color:black !important;
}
.main-footer .main-menu li a{
  font-size:11.2px;
  letter-spacing: 1.12px;
}
.footer-bottom a{
  text-decoration:none;
  text-align:right;
  font-size:12px;
}

#copyright p{
  font-size:12px;
  text-align: right;
  margin-top: 5px;
}
.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.subfooter{
  position:relative;
  border-bottom:2px solid #fff;
  width:100%;
  min-height:280px;
}
.subfooter h3{
  font-size:15px;
  font-weight:bolder;
  text-transform:uppercase;
}
.subfooter .main-menu{
  padding:0;
  list-style:none;
}
.main-menu li{
  list-style:none;
}
.main-menu li a{
  text-decoration:none;
  text-transform:uppercase;
  color:#0e2337;
  line-height:3;
  font-size: 13px;
  font-weight: 500;
}
.nav-link{font-size:14px;font-family:"Gotham",sans-serif;margin:0 20px;font-weight:300;border-bottom:2px solid #fff;padding-bottom:5px;}
.navbar-expand-lg .navbar-nav .nav-link{padding-left:0;padding-right:0;}
.nav-link:hover{border-bottom:2px solid #0e2337;}
.box-btn{text-align:center;}
.box-btn .nav-link{
    height: 32px;
    width: 165px;
    padding: 5px 0;
    min-width: 115px;
    border: 1px solid #0e2337;
}
.box-btn .nav-link:hover {
  background:#0e2337;
  color:#fff;
}
.startPrompt {
  width: 200px;
  height: 50px;
  display:block;
  padding-top:14px;
  margin:0 auto;
  background-color: #0e2337;
  font-size: 16px;
  font-family: 'Gotham Book',sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  border-radius:5px;
  color: #ffffff;
  border:2px solid #0e2337;
  outline: none;
}
.startPrompt:hover{color:#0e2337;text-decoration:none;background:#fff;border:2px solid #0e2337;}
h1.operationsHeader {
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: -0.8px;
  text-align: center;
  color: #333333;
}
.row {
  align-items: center;
  align-content: center;
}
div.row.header {
  text-align: center;
}
div#operation {
  position: relative;
  background:#f9f9f9;
}
div#operation p.subheader {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

div.demoButtonWrapper {
  position: fixed;
  top: 85%;
  left: 85%;
  z-index: 999999;
}
div.demoButton {
  background-color: #062339;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-image: url(../images/white-logo.svg);
  background-size: 90%;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}
div.demoButton-text {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #062339;
}
img[src="images/tick.png"] {
  width: 67px;
  height: 67px;
}
.copyright {
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #9b9b9b;
  font-family: 'Montserrat';
  margin-top: 23px;
}
.tagline {
  font-family: Gotham;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #0a0724;
  font-family: 'Montserrat';
  margin-top: 16.8px;
}
.container.footer-bottom {
  padding-top: 27px;
  padding-bottom: 37px;
  border-top: 2px solid #d2d2d2;
}

#footerMobile {
  display:none;
}
.social {
  margin-right:20px;
  width: 16px;
  height: 16px;
}
.socialWrapper {
  display: flex;
}
.mobileExpand {
  display:none;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.mobileExpand a:hover {
  text-decoration: none;
}




/*RESPONSIVE FOR HTML PAGES*/

@media (min-width: 991px) and (max-width: 1999px) {
  #operation .doc-item h3 {
    padding-bottom: 0px;
  }
  #operation .doc-item {
    padding: 30px 24px 0;
  }
}

@media (max-width: 991px) {
  .home__header h1 {
    margin-top: 40px;
  }
  .section .container {
    margin-top: 40px;
  }
  .mobileExpand {
    display:block;
  }
  .header-offset {
    margin-left: 16.6%;
  }
}

@media (max-width: 820px) {
  img[src="images/triniti-section1.png"] {
    height: 60% !important;
  }
}

@media (max-width: 768px) {
  .header-offset {
    margin-left: 8.4%;
  }
}
@media (max-width: 720px) {
  img[src="images/triniti-section1.png"] {
    height: 50% !important;
  }
}

@media (max-width: 576px) {
  div.demoButtonWrapper {
    left: 70% !important;
  }
  .section h1 {
    text-align: center;
  }
  #operation,#create,#understand,#architecture {
    padding-left: 15px;
    padding-right: 15px;
  }
  p.subheader {
    text-align: center;
  }
}
@media (max-width: 766px) {
  .col-6.col-md-2 {
    min-height: unset!important;
  }

}
@media (max-width: 376px) {
  img[src="images/triniti-section1.png"] {
    height: 30% !important;
  }
}

/* When menu changes to a mobile footer, do not show hover state of menu dropdown list */
@media (max-width: 992px) {
.navbar-nav li ul:before{
  display: none;
  }

.navbar-nav li ul {
  display: none;
  }
.col-sm-6.legal {
  padding-left: 5% !important;
  }
}

/* For tablets */
@media (max-width: 576px) {
  .col-sm-6.legal {
    width: 100%;
    margin-top: 10%;
    padding-left: 0px !important;
    text-align: center;
    padding-right: 5% !important;
    margin-left: 22%;
  }
  .col-sm-6.socialWrapper {
    width: 100%;
    margin-left: 5%;
  }

  .section h1 {
    width: 100% !important;
  }
  .container {
    text-align: center;
  }
  .social {
    margin-right: 25%;
  }
  .nav-item {
    text-align: left;
  }
}

/*For iphone 6/7/8 */
@media (max-width: 501px) {
  .col-sm-6.legal {
    margin-left: 17%;
  }
}

@media (max-width: 501px) {
  .col-sm-6.legal {
    margin-left: 10%;
  }
}
/*End for iphone 6/7/8 */

/* END RESPONSIVE */


.navbar.navbar-sticky {
  width: 100%;
  z-index: 9999999;
  position: fixed;
  background-color: #FFF;
  box-shadow: 0px 2px 5px 1px #DDDDDD;
-webkit-box-shadow: 0px 2px 5px 1px #DDDDDD;
-moz-box-shadow: 0px 2px 5px 1px #DDDDDD;
-o-box-shadow: 0px 2px 5px 1px #DDDDDD;
}

.list-title {
  display: inline-block;
  padding-right: 15px;
  font-size: 20px;
}
.dropdown-text {
  display: inline-block;
  height: 36px;
  margin-left: 35px;
}

.dropdown-text:hover {
  border-bottom: 2px solid grey;
}

.listWrapper {
  margin-top: 15px;
  height: 38px;
}

.listWrapper a{
  text-decoration: none;
  color: black;
}


/* Hamburger menu for landing page */

@media (max-width: 991px){
  .navbar-nav {
     height: 100vh;
  }
  .ca_hamburger {display: inline-block;width:30px;height:21px;position:relative;}
.ca_hamburger span {width:100%;height:2px;background: #0e2337;position: absolute;left: 0;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s; }
.ca_hamburger span:nth-child(1){top:0;}
.ca_hamburger span:nth-child(2){top:10px;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%); }
.ca_hamburger span:nth-child(3){top:18px;}
.ca_hamburger.ca_opened span:nth-child(1) {
-webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
      transform: rotate(45deg) translate(0, -50%);
      top:2px;}
.ca_hamburger.ca_opened span:nth-child(2) {
      width: 0;-webkit-transition: all 0.1s;-o-transition: all 0.1s;transition: all 0.1s;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
.ca_hamburger.ca_opened span:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate(-1px, 50%);
      -ms-transform: rotate(-45deg) translate(-1px, 50%);
      transform: rotate(-45deg) translate(-1px, 50%);
      top:0; }
.ca_menu.ca_opened .holder {top: 0; }
}

/* End hamburger menu */

/* For security page */
h1.security {
  font-family: 'Gotham Medium';
  font-size: 42px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: -0.8px;
  color: #2d2d2d;
  margin-bottom: 15px;
}

h2.security {
  font-family: 'Gotham Medium';
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d2d2d;
  margin-bottom: 15px;
}
.learnPrompt {
  width: 170px;
  padding: 10px 20px;
  border: 1px solid black;
  text-align: center;
  margin-top:30px;
  font-family: 'Gotham Medium';
  font-size: 14px;

}

.learnPrompt:hover {
  background: #062339;
}
.learnPrompt:hover .learn {
  color: white!important;
}

button.learn {
  text-decoration: none;
  border: none;
  background: unset;
  outline: none;
}

button.learn:hover {

}

.underlineLearnPrompt {
  font-family: 'Gotham Bold';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #5d5d5d;
  text-decoration: underline;
}

.underlineLearnPrompt a{
  text-decoration: none;
  color: #5d5d5d;

}
.subheader.security {
  font-size:14px;
}

.current {
  font-weight:bold;
  border-bottom: 2px solid black!important;
}
a.nav-link.nohover {
  display: none!important;
}
/*End for security page */
